.ui-body {
  &--wrapper {
    padding-top: 4rem;
  }
}

.ui-card {
  margin-bottom: 2rem;

  &--wrapper {
    vertical-align: bottom;

    &.col-md-12 {
      margin-bottom: 4rem;
    }
    &.col-md-4 {
      img {
        background-color: $GRAY_MED;
        max-height: 30rem;
      }
    }
  }
  &--img {
    margin: auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
  &--body {
    padding: 1rem;
    text-align: center;
  }
  &--img-wrapper {
    // background-color: $GRAY_MED;
  }
}

.ui-view {
  &--btn {
    color: $GRAY_MED;
    cursor: pointer;

    &.active {
      color: $GRAY_DARK;
    }
  }
}